body {
    background-color: #393E46;
    text-align: center;

}

h1,
p {
    color: #4ECCA3;

}


.dice {
    display: inline-block;
    font-family: 'Indie Flower', cursive;
    font-size:2rem;
}
.dice2 {
    display: inline-block;
    font-family: 'Indie Flower', cursive;
    font-size:2rem;
}

footer {
    color: #FFF;
    font-family: 'Indie Flower', cursive;
}

h1 {
    font-size: 8rem;
    margin: 5% 20%;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
}